body{
  background:#fff;
  min-height:100%;
}
.ts{
  width:970px;
  // height:625px;
  img{
    margin:80px auto 0;
    display:block;
  }
  p{
    text-align: center;
    line-height:40px;
    margin-top:20px;
    font-size: 18px;
  }
  p.small{
    font-size: 12px;
    color:#f85e05;
    line-height:10px;
    margin-top:0;
  }
}
.wrapp{
  height:100%;
  position: relative;
  padding-bottom: 160px;
  display:block;
  .pdf{
    width:970px;
    margin:0 auto;
    position: relative;
    .pdf_down{
      position: absolute;
      top:-70px;
      right:0;
    }
    .pdf_bg{
      margin-top:120px;
      width:970px;
      height:500px;
      background:url(../../images/pdf_bg.png)no-repeat center;
      border: 1px dashed #d0d7dd;
    }
  }
}

footer{
  position: fixed;
}